<div fxLayout="column" fxLayoutGap="10px">
  <md-toolbar color="primary">
    <span>One Bus Away</span>
    <span class="md-spacer"></span>
    <button *ngIf="!addStopsMode" (click)="toggleAddStopsMode()" md-button>Add stop</button>
    <button *ngIf="addStopsMode" (click)="toggleAddStopsMode()" md-button>Done</button>
  </md-toolbar>

  <app-add-stop
    *ngIf="addStopsMode"
    (addStopsDone)="toggleAddStopsMode()">
  </app-add-stop>

  <app-stop-collection
    [hidden]="addStopsMode">
  </app-stop-collection>
</div>