<section>
  <md-card>
    <md-card-header fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end center">
      <span>Region:</span>
      <md-select placeholder="Region" floatPlaceholder="never" [(ngModel)]="selectedRegion" (change)="regionChanged()">
        <md-option *ngFor="let region of allRegions" [value]="region">{{ region.regionName }}</md-option>
      </md-select>
    </md-card-header>
    <md-card-content fxLayout="column" fxLayoutGap="10px">
      <p *ngIf="!selectedRegion">No region selected.</p>
      <p *ngIf="selectedRegion && !nearbyStops">Loading stops &hellip;</p>
      <p *ngIf="selectedRegion && nearbyStops">Stops near you</p>
      <app-bootstrap-table *ngIf="selectedRegion && nearbyStops" [items]="nearbyStops"
        [columns]="[['Stop#', 'code'], ['Stop name', 'name'], ['Direction', 'formattedDirection']]"
        (itemClicked)="addStop($event)" [emptyMessage]="'No stops found'">
      </app-bootstrap-table>
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
        <md-input-container>
          <input mdInput type="number" placeholder="Add specific stop number" [(ngModel)]="stopNumber">
        </md-input-container>
        <button md-button (click)="addSpecificStops()" color="primary">
          Add
        </button>
      </div>
    </md-card-content>
    <md-card-actions>
      <div fxLayout="column">
        <button md-icon-button fxFlexAlign="end" (click)="done()" color="primary">
          <md-icon>done</md-icon>
        </button>
      </div>
    </md-card-actions>
  </md-card>
</section>